
<head>
  <title>Willkommen</title>
</head>
<h1> Das ist die ersten eigene Seite mit Rails </h1>
<p> Langsam aber sicher wird die Seite weiter ausgebaut und getestet</p>
<body> Klicke diesen <a href= "https://fathomless-beach-52694.herokuapp.com/">
Link </a> um zur ersten App von Sebastian zu gelangen
<p>Klicke <a href= "http://localhost:3000/static_page/Help"> hier </a> um zur Hilfe
zu gelangen.</p>

</body>
