// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  font-size: 50px;
  font-style: normal;
  font-weight: bolder;
  font-family: serif;
  color: #760bad;
  text-align: center;
}

body{
  font-style: italic;

}
